<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    
    <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="preconnect" href="/" crossorigin>

    {% if project.environment == "production" %}
      <link rel="stylesheet" href="/{{ hash['css/style.css'] }}"/>
    {% else %}
      <link rel="stylesheet" href="/css/style.css"/>
    {% endif %}

    {% block head %}{% endblock %}
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
